body {
    background-color: #211083;
}
h1{
    text-align: center;
    font-size: 3em;
    margin-top: 30px;
    color: #f4f7f7;
    font-family:'Times New Roman';
}
.bottom-right-links{
    padding: 20px;
    width: auto;
    background-color: #2b55b8; 
    position: fixed;
    bottom: 30px;
    right: 40px;
    font-size: 25px;
    font-family:'Times New Roman';
    margin: 0 auto;
    transform: translate(-32%,0);
}
.bottom-right-links a {
    color: aqua;
    text-decoration: none;  
}
.bottom-right-links a:hover {
    text-decoration: underline;
}       
.about-me{
    text-align: center; 
    font-family: 'Times New Roman';
    color: aqua;
    background-color: #2b55b8; 
    width: 100%;
    max-width: 450px;
    margin: 0 auto; 
    padding: 30px; 
    position: relative; 
    top: auto;
    right: -20%;
    transform: translate(0,30%); 
}

.about-me h2{
    font-family: 'Times New Roman';
    color: rgb(248, 244, 244);
    font-size: 1.5em;
}
.about-me p{
    font-family: 'Times New Roman';
    font-size: 18px;
    margin: 20px 10px;
    line-height: 1.6;
}
@media (max-width: 768px) {
    .about-me {
        width: 95%; 
        padding: 15px;
    }

    .about-me h2 {
        font-size: 1.2em; 
    }

    .about-me p {
        font-size: 0.9em; 
    }
}
.photo-section {
    padding: 20px; 
    position: absolute; 
    top: 50%;
    left: 10%;
    transform: translateY(-50%); 
    width: 150px;
    height: auto;
}
