html, body {
    margin: 0;
    height: 100%;
}

.container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    width: 100vw;
    height: 100vh;
    text-align: center;
    font-size: 30px;
}
.item1{
    cursor: pointer;
}
.item2{
    cursor: crosshair;
}
.item3{
    cursor:grab;
}
.item4{
    cursor: not-allowed;
}
